*{
    box-sizing: border-box;
    /*outline: #bd081c 1px solid;*/
}
body{
    margin: 85px 0 0 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#bodyWrapper{
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: stretch;
    padding: 0 5vw;
}

header{
    position: fixed;
    height: 65px;
    width: 100vw;
    top: 0;
    z-index: 99;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    align-items: center;
    justify-content:space-around;
    line-height: 75px;
}

#Logo{
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}
#Logo div{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 1px solid gray;
    background: #bd081c;
}
#Msgs,#Not,#Menu{
    flex-grow: 0.4;
}

#Inicio, #Siguiendo, #explorar, #User{
    flex-grow: 0.8;
    padding: 5px 15px;
    box-sizing: border-box;
}

#searchbar{
    flex-grow: 16;
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
}
#searchbar input{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    background: #e6e6e6;
    border: none;
    box-sizing: border-box;
    padding: 5px 15px;
}

div.col{
    width: 20%;
    padding: 0 0.5%;
}

div.col .pin{
    display: flex;
    flex-flow: column;
    cursor: pointer;
}

div.col .pin .content{
    padding: 5px;
}


div.col .pin img{
    width: 100%;
    border-radius: 8px;
}

div.col .pin .info{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

div.col .pin .info .description{
    flex-basis: 90%;
    font-size: 110%;
    color: #34495e;
    font-weight: 900;
    padding-right: 2px;
}

div.col .pin .info .rMenu{
    flex-basis: 10%;
    font-size: 110%;
    color: #62788e;
    font-weight: 900;
    position: relative;
    border-radius: 50px;
    padding: 0 0 0 5px;
}

div.col .pin .info .rMenu:hover{
    background: #e1e9f2;
}

div.col div.dos{
    height: 200px;
    background: #3498db;
}
div.col div.cuatro{
    height: 400px;
    background: #27ae60;
}
div.col div.seis{
    height: 600px;
    background: #34495e;
}

@media (max-width: 375px){
    div.col{
        width: 50%;
        padding: 0 0.5%;
    }
    #Logo 
    ,#Inicio
    ,#Siguiendo
    ,#explorar
    ,#User
    ,#Not
    ,#Menu{
        display: none;
    }

    footer{
    position: fixed;
    height: 65px;
    width: 100vw;
    bottom: 0px;
    background:white;
    z-index: 99;
    display:flex;
    justify-content:space-around;
    align-items: center;
    }

}